/_build/
/src/mirage-*/_build/
*.install
.merlin
/_build.prod
/src/mirage-ukvm/_build-ukvm
*.mlpack
/node_modules/
/data/
/default
/Gupfile
/*-local.xml
/src/common/version.ml
/src/common/domain_list.ml
/src/js/about.md
/src/js/about.ml
/nix/opam2nix-packages
/nix/opam2nix
/.sandstorm
/openshift/app
