/_build
/_build.prod
*.mlpack
/node_modules/
/data/
/default
/Gupfile
/*-local.xml
/src/common/version.ml
/src/common/domain_list.ml
/src/js/about.md
/src/js/about.ml
/openshift/build
/openshift/share
