/* vim: set syntax=css: */

@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/mixins.less";

@text-highlight-color: rgb(59, 133, 202);

.link {
	cursor:pointer;
}

body {
	background-color:#556;
}

.container {
	background-color:#fff;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.19);
	padding-bottom:15px;

	&.footer {
		border-top: 1px solid rgb(208, 209, 211);
		border-radius:10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background:#e0e0e0;
		color:#555;
		padding-top:20px;
	}
}

.password-display {
	&:extend(.well, .well-sm);
	font-size: 1.5em;
	text-align:center;
	padding:1px;
	margin-bottom:0;
	width:auto;
	display:block-inline;
	margin-left:1em;

	.dummy {
		padding-top: 0.1em;
		&.selected {
			color: white;
			background: @text-highlight-color;
		}
	}

	.secret {
		display:block;
		height:1px;
		overflow:hidden;
		width:1px;
		color:transparent;
	}

	padding-right: 2em;
	position:relative;

	.toggle {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		width: 2em;
		background: darken(@well-bg, 4%);
		border-left: 1px solid darken(@well-bg, 15%);

		background: @input-bg;
		color: mix(@input-color, @input-bg, 80%);
		border-left: 1px solid @well-border;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		cursor: pointer;
		padding: 4px 4px 0 4px;
		font-size: 0.9em;
	}
}

.domain-info {
	strong {
		&:extend(.text-muted);
	}
	&:extend(.panel-success all);
	&.unknown {
		&:extend(.panel-default all);
	}
	h3 {
		&:extend(.panel-title all);
		input {
			float:right;
			color: @input-color;
			border: 1px solid @input-border;
			border-radius: 5px;
			background-color: @input-bg;
			&:hover {
				background-color: darken(@input-bg, 5%);
			}
		}
	}

	.delete {
		margin-right:0.3em;
		position:relative;
		top:3px;
		right:3px;
	}

	width:100%;
	display:table;
	margin-bottom:5px;

	.inline {
		span {
			display:table-cell;
			overflow:hidden;
		}
		strong {
			display:table-cell;
			padding-right: 4px;
		}
		input {
		
			padding: 0 4px;
			.form-control-focus();
			width:100%;
			border-color: transparent;
			background:transparent;
			border-radius: 5px;
			border: 1px solid transparent;

			&.error {
				&:extend(.has-error .form-control);
			}
		}
	}

}

.db-editor {
	margin-top:2em;
	.db {
		width:100%;
		margin:0;
		padding:1em;
		border:0;
		background: #111118;
		color: #bbb;
	}
}

.form-group {
	position:relative;
	.form-control.suggestions {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-width: 0;
		outline: none;
		box-shadow:none;
	}
	ul.suggestions {
		position:absolute;
		left:0;
		right:0;
		margin:0 15px;
		padding: 0;
		// border: 2px solid red;
		// font-size: 1.2em;
		line-height: 2em;
		background: darken(@input-bg, 5%);
		list-style-type: none;
		z-index:99;
		border-radius: 5px;
		border-radius-top:0;
		border-top-left-radius:0;
		border-top-right-radius:0;
		border: 1px solid @input-border-focus;
		border-top-color: darken(@input-bg, 10%);

		li {
			padding: 0 15px;
			&.selected {
				color:@input-bg;
				font-weight:bold;
				background: @brand-primary;
			}
		}
	}
}

.account-status {
	&:extend(.row);

	&.alert {
		padding:20px;
		padding-top: 7px;
		padding-bottom: 5px;
	}
	&.alert-info {
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.23);
	}

	margin-bottom:0;
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
	/*
	border-top-left-radius:0;
	border-top-right-radius:0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	*/

	.user {
		font-weight: bold;
	}

	.online,.offline {
		float:right;
	}

	.retry {
		float:right;
		margin-left: 1em;
	}

	a {
		color:inherit !important;
	}

	.glyphicon {
		font-size: 1.2em;
		width: 1.07em;
		height: 1em;
		position:relative;
		top:0.2em;
		margin-left:0.2em;
	}

	&.login {
		.form-group {
			/*width: 193px;*/
			display:inline-block;
		}
		input[type="submit"] {
			float:right;
		}

		input[type="checkbox"] {
			margin-left:0;
		}
	}

	.syncing {
		opacity:0.5;
		transition: opacity 2s;
		i {
			@spin-duration: 1.5s;
			-webkit-animation:spin @spin-duration linear infinite;
			-moz-animation:spin @spin-duration linear infinite;
			animation:spin @spin-duration linear infinite;
		}
		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
		@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
	}

	.hover-reveal {
		opacity:0.5;
		transition: opacity 0.4s;
	}
	&:hover .hover-reveal {
		opacity:1;
	}
}
